body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    overflow: hidden;
    color: white;
}

.main {
    display: flex;
    height: 100vh;
    margin: 0.50rem;
}

.sidebar {
    background-color: black;
    width: 347px;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}



a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.35;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.options {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem 0.75rem;
    opacity: 0.35;


}

.options:hover {
    opacity: 1;
}

.icons {
    display: flex;
    gap: 0.50rem;
    font-size: 1rem;
    opacity: 0.35;
    margin-right: 1rem;

}

.icons:hover {
    opacity: 1;
}

.lib-options img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1rem;
}

.lib-box {
    height: 6rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.75rem 1rem;

}

.box-1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.box-2 {
    font-size: 0.75rem;
    opacity: 0.60;
    margin-bottom: 1rem;
}

.badge-button {
    background-color: white;
    border: none;
    border-radius: 30rem;
    padding: 0.25rem 1rem;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.7;
    width: fit-content;
}

.badge-button:hover {
    opacity: 1;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem;
}

.sticky-nav img {
    height: 1.2rem;
    width: 1.2rem;
    padding: 0.4rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 0.75rem;
}

.sticky-nav img:hover {
    background-color: black;
}

.sticky-nav-badges button {
    margin-right: 1rem;


}

.sticky-nav-badges i {
    margin-right: 1rem;
}

@media(max-width:1000px) {
    .hide {
        display: none;
    }

    .badge-button {
        display: none;
    }
    .card-container-2{
        align-items: center;
        justify-content: center;
    }
    .Explore{
        text-align: center;
    }
    .clips video{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .tag{
        font-size: 13px;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
}

.card img {
    width: 100%;
    border-radius: 0.5rem;
}

.card p {
    font-weight: 200px;
    color: white;
}

.cards h2 {
    font-weight: 800;
}

.c-info {
    font-weight: 600;
}

.c-para {
    font-size: 0.75rem;
    opacity: 0.60;
}

.card-container-2 {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card i {
    color: wheat;

}
.card{
    margin-bottom: 2rem;
}
.card video{
    width: 60%;
    height: 40%;

}

.fa-play,
.fa-pause {
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    color: #333;
}
.vid{
    border-radius: 30px;
    width: 60%;
    height: 40%;
}
.sj{
    text-align: center;
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    opacity: 0.50;
    color: bisque;
    font-size: 50px;
    border-bottom: 1px dotted wheat;
}
.tag{
    text-align: right;
    opacity: 0.40;
    font-size: 20px;
}
.explore h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
    color: red;
}
.clips{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rights{
    font-size: 14px;
    opacity: 0.50;
    text-align: center;
    justify-content: center;
    align-items: center;
}